.container {
    --min-height: 3rem;
    min-height: var(--min-height);
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 3rem -1.8rem rgb(124, 124, 124);
}

.container * {
    margin: 0;
}

.title__container {
    min-height: var(--min-height);
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color-1);
    border-radius: 1.5rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: border-end-start-radius 500ms ease, border-end-end-radius 500ms ease;
}

.title__container.active {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
}

.title__text {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}

.wings::before,
.wings::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 1.8rem;
    height: 4px;
    width: 1rem;
    background-color: #FFF;
    cursor: pointer;
    transform: rotate(40deg);
    transition: transform 250ms ease;
}

.wings::after {
    right: 1.2rem;
    transform: rotate(-40deg);
}

.wings.active::before {
    transform: rotate(-40deg);
}

.wings.active::after {
    transform: rotate(40deg);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.4rem;
    padding-bottom: 5rem;
    background-color: #fefefe;
    position: relative;
    border-radius: 1rem;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    transition: margin-top 800ms ease-in-out;
}

.display {
    margin-top: 0;
}

@media screen and (min-width: 576px) {
    .title__text {
        font-size: 20px;
    }

    .father {
        overflow: hidden;
        margin-bottom: 1.5rem;
        min-height: 3rem;
        box-shadow: 0 .5rem 3rem -1.8rem rgb(124, 124, 124);
    }
}

@media screen and (min-width: 992px) {
    .title__text {
        font-size: 24px;
    }

    .content {
        padding-bottom: 7rem;
    }
}