.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min(400px, 50vh);
    border-radius: 5px;
    box-shadow: 0 0 16px -6px black;
    position: relative;
    background-color: transparent;
}

.container > * {
    position: absolute;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem;
}

.is__active {
    opacity: 1;
    visibility: visible;
}

.button__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    width: 100%;
    opacity: 1;
    visibility: visible;
    align-self: flex-end;
}

.button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 3px;
    height: 1rem;
    background-color: #000;
    border-radius: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.button::before {
    transform: rotate(40deg) translateY(4px);
}

.button::after {
    transform: rotate(-40deg) translateY(-4px);
}

.button:nth-child(2)::before {
    transform: rotate(-40deg) translateY(4px);
}

.button:nth-child(2)::after {
    transform: rotate(40deg) translateY(-4px);
}

.button:active {
    background-color: #e8e8e8;
}

@media (hover: hover) {
    .button:hover {
        background-color: #e8e8e8;
    }
}

@media screen and (min-width: 770px) {
    .container > * {
        width: calc(100% - 6rem);
    }
    
    .button__container {
        align-self: center;
        width: 100%;    
    }
}