/* All cards */

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    min-height: 160px;
    background-color: #FFF;
    color: #444;
    box-shadow: 0 0 1.2rem -.2rem #333;
    border-radius: .5rem;
    padding: .8rem;
    transition: transform 300ms ease;
}

.card > * {
    margin: 0;
}

.card__goal {
    border-radius: .5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    border: thin solid #eaeaea;
    transition: box-shadow 250ms ease, transform 250ms ease-in-out;
}

@media (hover: hover) {
    .card__goal:hover {
        transform: scale(1.1);
    }

    .card:hover {
        transform: translateY(-.3rem);
    }
}

.card__number {
    background-color: var(--secondary-color-1);
    color: #FFF;
    font-weight: 700;
}

.card__text {
    color: #555;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding: .8rem;
    flex-grow: 1;
}

.social__container {
    display: flex;
    justify-content: space-evenly;
}