.card__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
}

@media (hover: hover) {
    .card__container img {
        filter: brightness(85%);
        transition: filter 250ms ease;
    }

    .card__container:hover img {
        filter: brightness(100%)
    }
}