.card__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #FFF;
    border-radius: .8rem;
    overflow: hidden;
    font-size: 1rem;
    padding: .7rem 1rem .7rem .7rem;
    box-shadow: 0 0 1.1rem -.9rem #333;
    text-align: justify;
    position: relative;
}

.card__appear {
    opacity: 0;
    transform: translateX(-2rem);
    transition: transform 800ms ease, opacity 800ms ease;
}

.card__container p {
    margin: 0;
}

.pet__name {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (min-width: 992px) {
    .card__container {
        grid-template-columns: 320px 1fr;
    }

    .card__container p {
        padding-bottom: 0;
    }
}