/* BigProductCard */

.product {
    position: relative;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 0 2.5rem -2rem #666;
}

.product__image {
    border-radius: 5px;
    overflow: hidden;
}

.product__name {
    font-size: 1.2rem;
    font-weight: 700;
}

.product__price {
    color: #666;
    font-weight: 600;
}

.product__description {
    font-size: 0.8rem;
}






/* LongProductCard */

.product__long {
    display: grid;
    grid-template-columns: 120px 1fr;
    max-height: calc(120px + 1rem);
    gap: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 4px 3.3rem -2.3rem #888;
    padding: .5rem;
    cursor: pointer;
}

.product__long__image {
    overflow: hidden;
    border-radius: .5rem;
    max-height: 120px;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__long__description {
    margin-top: '.8rem';
    flex-grow: 1;
}



@media (hover: hover) {
    .more__products {
        text-decoration: none;
    }

    .more__products:hover {
        text-decoration: initial;
    }
}

@media screen and (min-width: 576px) {
    .product__long {
        grid-template-columns: 180px 1fr;
        max-height: calc(180px + 1rem);
    }

    .product__long__image {
        max-height: 180px;
    }

    .product__info .product__name {
        font-size: 1.3rem;
    }

    .product__info .product__price,
    .product__info .product__description {
        font-size: 1.1rem;
    }
}