.container {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
}

.container > * {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.active {
    opacity: 1;
}

.buttons__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    padding: 0 1.1rem 0;
}

.pass__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    border: 0;
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 250ms ease;
}

.left::before,
.left::after,
.right::before,
.right::after  {
    content: '';
    display: block;
    position: absolute;
    border-radius: 1rem;
    top: 36%;
    left: .9rem;
    height: 4px;
    width: 18px;
    background-color: #FFF;
    cursor: pointer;
    transform: rotate(40deg);
    transition: transform 250ms ease;
}

.right::after {
    top: 56%;
    transform: rotate(-40deg);
}

.left::after {
    left: .7rem;
    top: 56%;
}

.left::before {
    left: .7rem;
    transform: rotate(-40deg);
}

@media (hover: hover) {
    .pass__button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (min-width: 772px) {
    .left::after {
        left: .8rem;
    }

    .left::before {
        left: .8rem;
    }
}