/* ContainerFavProduct */

.most__sold__container {
    background-color: #FFF;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-image: url(/background-blob-scatter.svg), url(/wave-haikei-1.svg);
    background-position: bottom;
    background-size: auto, fill;
    background-repeat: repeat, no-repeat;
}

@media screen and (min-width: 992px) {
    .most__sold__container {
        background-size: auto, cover;
    }
}

.most__sold__title {
    font-size: 1.6em;
    font-weight: 700;
    margin: .5em 0;
}

.most__sold__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}

/* ContainerProductType */

.products__type__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
}

.products__type__title {
    align-self: flex-start;
    margin: 0;
    font-size: 1.3em;
    font-weight: 500;
    padding: .4rem 1rem .5rem;
    border-radius: .3rem;
    color: #fbfbfb;
    background-color: var(--secondary-color-2);
    position: relative;
    box-shadow: -.4rem .4rem .6rem -.5rem #444;
}

.products__type__title::after {
    content: '';
    display: block;
    background-color: var(--secondary-color-2);
    width: 1.5rem;
    height: .8rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    position: absolute;
    top: 98%;
    left: calc(50% - .75rem);
}

.products__link {
    background-color: var(--secondary-color-1);
    padding: .3rem .8rem;
    color: #fff;
    font-weight: 600;
    border: thin solid var(--secondary-color-1);
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 450ms ease, color 450ms ease, transform 180ms ease;
}

.products__link:active {
    transform: scale(0.9);
}

@media (hover: hover) {
    .products__link:hover {
        background-color: #fff;
        color: var(--secondary-color-1);
    }
}