/* BigProductCard */

.big__product {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 2.5rem -2rem #666;
    font-size: 1.4rem;
    transition: transform 350ms ease, box-shadow 350ms ease;
}

.big__product__info {
    cursor: pointer;
}

.big__product__image {
    position: relative;
    background-color: #fafafa;
    width: 75%;
    margin: 0 auto;
    border-radius: .7rem;
    box-shadow: 0 0 1.2rem -.6rem #444;
    overflow: hidden;
    transition: transform 500ms ease, box-shadow 500ms ease;
}

.big__product__data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 0 1.2rem -.6rem #444;
    padding: .7rem;
    border-radius: .7rem;
    color: #333;
    background-color: var(--main-color);
    padding-top: 2.7rem;
    margin-top: -2.3rem;
}

.big__product__price {
    margin: 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.big__product__price__d {
    font-size: 1.1rem;
    color: #666;
    text-decoration: line-through;
}

.big__product__discount {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.big__product__description {
    font-size: 0.8em;
    margin-top: .5em;
}




/* LongProductCard */

.product__long {
    position: relative;
    display: grid;
    grid-template-columns: 145px 1fr;
    max-height: calc(145px + 1rem);
    gap: .7rem;
    overflow: hidden;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow: 0 4px 3.3rem -2.3rem #888;
    padding: .5rem;
    cursor: pointer;
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.product__long__image {
    position: relative;
    align-self: flex-start;
}

.product__long__image img {
    overflow: hidden;
    border-radius: .5rem;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__price,
.product__discount {
    margin: 0;
    font-weight: 600;
}

.product__long__description {
    display: none;
    margin: 0;
    margin-top: .5rem;
    font-size: .8em;
}

.product__long__tags {
    align-self: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
    color: #8a8a8a;
    font-size: 1rem;
    font-weight: 600
}

@media (hover: hover) {
    .more__products {
        text-decoration: none;
    }

    .more__products:hover {
        text-decoration: initial;
    }

    .big__product__info:hover .big__product__image,
    .big__product__image:hover {
        transform: scale(1.05);
        box-shadow: 0 0 .9rem -.4rem #222;
    }

    .product__long:hover {
        transform: scale(1.02);
        box-shadow: 0 0 .9rem -.6rem #606060;
    }
}

@media screen and (min-width: 576px) {
    .product__long {
        grid-template-columns: 200px 1fr;
        max-height: calc(200px + 1rem);
    }

    .product__info .product__name {
        font-size: 1.3rem;
    }

    .product__info .product__description {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 776px) {
    .product__long__description {
        display: flex;
    }
}

@media screen and (min-width: 992px) {
    .big__product__price {
        margin: 0;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .big__product__price__d {
        font-size: .95rem;
        color: #666;
        text-decoration: line-through;
    }

    .big__product__discount {
        margin: 0;
        font-weight: 600;
        font-size: 1.05rem;
    }
}