.footer {
    position: relative;
    background-color: var(--secondary-color-2);
    padding: 1rem;
}

.p {
    margin: 0;
    margin-bottom: 4px;
    font-size: 1.1rem;
    color: #eaeaea;
    font-weight: 500;
}

.share__container {
    display: flex;
    border-radius: .4rem;
    overflow: hidden;
}

.share__button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: .1rem 0;
    cursor: pointer;
}

.facebook {
    background-color: #4267B2;
}

.instagram {
    background-image: radial-gradient(
        circle at 33% 100%,
        #FED373 4%,
        #F15245 30%,
        #D92E7F 62%,
        #9B36B7 85%,
        #515ECF
    );
}

.twitter {
    background-color: #1DA1F2;
}

.whatsapp {
    background-color: 	#25D366;
}

.footer__card {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
    color: #FFF;
}

.shape__divider {
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 900;
    top: 2px;
    left: 0;
}

.custom__shape__divider__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom__shape__divider__bottom svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 50px;
}

.custom__shape__divider__bottom .shape__fill {
    fill: #B74FD1;
}