.nav {
    min-width: 300px;
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 1300;
    background-color: var(--secondary-color-1);
    transition: background-color 250ms ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 80px;
    color: #fafafa;
}

.link__logo {
    display: flex;
    gap: .3rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 200ms ease-in-out, margin-left 500ms ease-in-out;
}

.link__logo__title {
    line-height: 1;
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 600;
}

.link {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.1rem;
    padding: .3rem .6rem .35rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 300ms ease, color 250ms ease;
}

.link.active {
    background-color: var(--secondary-color-1-hover);
    color: #fff;
    pointer-events: none;
}


.link__hover {
    display: flex;
    align-items: center;
    color: #fafafa;
    position: relative;
}

.link__display {
    overflow: hidden;
    position: absolute;
    top: 110%;
    left: 0;
    height: 0;
    transition: height 800ms ease;
}

.link__display > a {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--secondary-color-1);
}

.admin__links > a {
    transition: color 250ms ease;
}

.admin__links > .active {
    color: var(--secondary-color-1);
}

.shopping__cart {
    position: absolute;
    left: 5vw;
}

.checkbox {
    position: relative;
    opacity: 0;
    z-index: 100;
    width: 1rem;
    height: 1.5rem;
    cursor: pointer;
}

.wings {
    width: .5rem;
}

.wings::before,
.wings::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 1rem;
    top: 36%;
    left: .5rem;
    height: 4px;
    width: 18px;
    background-color: #FFF;
    cursor: pointer;
    transform: rotate(40deg);
    transition: transform 250ms ease;
}

.wings::after {
    top: 56%;
    transform: rotate(-40deg);
}

.checkbox:checked + .wings::before {
    transform: rotate(-40deg);
}

.checkbox:checked + .wings::after {
    transform: rotate(40deg);
}

@media (hover :hover) {
    .link__logo:hover {
        transform: scale(1.05);
    }

    .admin__links > a:hover {
        color: var(--secondary-color-1);
    }

    .link:hover,
    .link__hover:hover > .link {
        background-color: var(--secondary-color-1-hover);
        color: #fff;
    }

    .link__hover:hover > .link__display {
        height: 9rem;
    }
}