.grid__container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
    justify-items: center;
}

.grid__container > * {
    max-width: 380px;
}

.load__pets {
    align-self: flex-end;
    background-color: var(--secondary-color-1);
    padding: .2rem .8rem 1rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border: thin solid var(--secondary-color-1);
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 450ms ease, color 450ms ease;
}

@media (hover: hover) {
    .load__pets:hover {
        background-color: #fff;
        color: var(--secondary-color-1);
    }
}

@media screen and (min-width: 776px) {
    .grid__container {
        grid-template-columns: 1fr 1fr;
    }

    .load__pets {
        padding: .2rem .8rem .1rem;
        font-size: .9rem;
    }
}