/* .changes__section {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    margin: 1.5rem 0;
} */

.changes__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0;
}

.changes__title {
    margin: 1rem 0 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.visible {
    transform: translateX(0);
    opacity: 1;
}

.load__pets {
    background-color: var(--secondary-color-1);
    padding: .3rem .8rem;
    color: #fff;
    font-weight: 600;
    border: thin solid var(--secondary-color-1);
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 450ms ease, color 450ms ease;
}

@media (hover: hover) {
    .load__pets:hover {
        background-color: #fff;
        color: var(--secondary-color-1);
    }
}

.title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0;
}

.section {
    margin: 1.5rem 0;
    padding: .8rem;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    box-shadow: 0 0 1rem -.8rem #444;
}

.section * {
    margin: 0;
}

/* @media screen and (min-width: 576px) {
    .changes__section {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media screen and (min-width: 992px) {
    .changes__section {
        grid-template-columns: 1fr 1fr;
    }
} */