.subtitle {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1rem 0;
}

.articles__container {
    background-image: url(/background-blob-scatter.svg);
    background-size: contain;
    background-repeat: repeat-y;
}

@media screen and (min-width: 576px) {
    /* .subtitle {
        text-align: left;
    } */
}