.cards__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.cards__content {
    font-size: 1rem;
    margin: 0;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0;
}

.articles__container {
    display: flex;
    flex-direction: column;
}

.load__articles {
    background-color: var(--secondary-color-1);
    padding: .3rem .8rem .2rem;
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
    border: thin solid var(--secondary-color-1);
    border-radius: 5rem;
    align-self: flex-end;
    cursor: pointer;
    transition: background-color 450ms ease, color 450ms ease;
}

@media (hover: hover) {
    .load__articles:hover {
        background-color: #fff;
        color: var(--secondary-color-1);
    }
}